{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    <b>Example Year</b> - All cattle transfers
{% endblock %}

{% block content %}

<p>
    This year's cattle transfers:
</p>

<ul>
    <li>
        Player 2 sent <b>{{10|c}}</b> to you.
    </li>
</ul>

<p>
    Click Next to continue.
</p>

{% next_button %}

{% if summary_box %}
    <br>
    <br>

    <table>
        <tr>
            <th>Example Year Summary</th>
            <th></th>
        </tr>
        <tr>
            <td>Current herd size:</td>
            <td><b>{{herd_size_after_transfers}}</b></td>
        </tr>
        <tr>
            <td><u>Incomings</u></td>
            <td></td>
        </tr>
        <tr>
            <td>Player you requested help from:</td>
            <td><b>Player 2</b></td>
        </tr>
        <tr>
            <td>Amount requested by you:</td>
            <td><b>{{request_amount}}</b></td>
        </tr>
        <tr>
            <td>Amount received:</td>
            <td><b>
                {{10|c}}
            </b></td>
        </tr>
            <tr>
            <td><u>Outgoings</u></td>
            <td></td>
        </tr>
        <tr>
            <td>Player(s) requested help from you:</td>
            <td><b>
                -
            </b></td>
        </tr>
        <tr>
            <td>Amount(s) sent:</td>
            <td><b>
                -
            </b></td>
        </tr>
    </table>
{% endif %}

{% endblock %}
