{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    <b>Proceed to Example Year</b>
{% endblock %}

{% block content %}

<p>
    To learn more about how the game works, you will now complete an <b>Example Year</b> with a simulated partner.
    Afterwards, you will complete a few comprehension questions (which we will pay you for) to test your understanding
    of the game.
</p>
<p>
    You will start the example year with <b>70 cattle</b>.
</p>
<p>
    Click Next to proceed to the example year.
</p>

{% next_button %}

{% endblock %}
